<p> Hello there, </p>
<p> We heard you forgot your password. Clicking the following link will take you to a prompt where you can reset it. </p>

<%%= link_to("Reset Password", @reset_password_url) %>
